{% load static %}
<!doctype html>
<html lang="ru" xmlns:width="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'news/css/news_out.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/const-line.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/menu.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>{{ article.title }}</title>
</head>
<body>

   <!-- зафиксированная строка с номером телефона и социальными сетями начало -->
        <div class="const_line">
            <p id="left_const_line"><a href="tel:+78672511238"><img src="{% static 'main/img/telephone.png' %}" alt="telephone">+7 (8672) 51-12-38</a></p>
            <p id="right_const_line">Мы в соц. сетях:
                <a href="https://www.instagram.com/copp__rso/" target="_blank"><img src="{% static 'main/img/instagram.png' %}" alt="instagram" style="margin-left: 10px;"></a>
                <a href="https://www.facebook.com/copp.15" target="_blank"><img src="{% static 'main/img/facebook.png' %}" alt="facebook"></a>
                <a href="https://twitter.com/copp_spb" target="_blank"><img src="{% static 'main/img/twitter.png' %}" alt="twitter"></a>
                <a href="https://wa.me/+78672511238" target="_blank"><img src="{% static 'main/img/whatsapp.png' %}" alt="whatsapp"></a>
            </p>
        </div>
        <!-- зафиксированная строка с номером телефона и социальными сетями конец -->



        <!-- Пустота под зафиксированной строкой -->
        <div id="empty"></div>



        <!-- Главное меню начало-->
        <div id="header">
            <div class="logo-wrap">
                <a href="https://copp15.ru/">
                    <div id="logo">
                        <img src="{% static 'main/img/main/blueLogo.png' %}" alt="logo">
                        ПРОФОРИЕНТАЦИЯ
                    </div>
                </a>
            </div>


            <div id="menu">
                <hr id="hr_before">
                <div id="menu-wrap">
                    <ul class="menu">
                        <li><a href="{% url 'home'%}">ГЛАВНАЯ</a></li>
                        <li><a style="color: rgb(255, 84, 84);" href="newsPage.html">НОВОСТИ</a></li>
                        <li id="seekers"><a href="{% url 'vacan' %}">СОИСКАТЕЛЯМ</a>
                            <ul class="submenu">
                                <li><a href="{% url 'index_sch' %}">ШКОЛЬНИКАМ</a></li>
                                <li><a href="{% url 'resumeout' %}">РАБОТОДАТЕЛЯМ</a></li>
                            </ul>
                        </li>
                        {% if request.user.is_authenticated %}
                                <li>Добро пожаловать, {{ user.username }} /</li>
                                <li><a href="{% url 'logout' %}">Выход</a></li>
                            {%else%}
                                <li><a href="{% url 'register' %}">РЕГИСТРАЦИЯ</a></li>
                                <li><a href="{% url 'login' %}">ВОЙТИ</a></li>
                            {% endif %}
                    </ul>
                </div>
                <hr id="hr_after">
            </div>
        </div>
        <!-- Главное меню конец-->



<!--
  <h1>Новостная лента</h1> -->
  <div class="news">
      <div>
        {% for i in news_home %}
            <div class = "news_block">
                <div class="news_short_content">
                <h2 class="news_header">{{ i.title }}</h2>
                <div class="datetime">{{ i.date }}</div>
                <p class="news_text">{{ i.anons }}</p>
                <a class="btn btn-primary btn-sm" href="{% url 'news_detail' i.id %}" style="width: 35%;">Читать детальнее</a>
                </div>
                <div class="news_short_img">
                    <img src="{% static 'main/img/twitter.png' %}">
                </div>
            </div>
        {% endfor %}
      </div>


</div>



 <div class="footer">
                <div class="ul">
                    <div class="footer_column">
                            <div class="footer_content">
                                <p class="footer_head">ЦОПП</p><hr>
                                <a href="index.html"><img src="{% static 'main/img/logoCopp.png' %}" id="logo-copp" alt="logo"></a>
                            </div>
                        </div>
                    <div class="footer_column">
                        <div class="footer_content">
                            <p class="footer_head">Документация</p><hr>
                            <p><a href="https://drive.google.com/drive/folders/1o1LztE8b--L0l-roRAbLAuYdr0ks8-N_?usp=sharing" target="_blank">Пользовательское соглашение</a></p>
                            <p><a href="https://drive.google.com/drive/folders/1Nt3H-qpHo728Ep5PRp3-IOkUpVXnhzL_?usp=sharing" target="_blank">Политика конфиденциальности</a></p>
                            <p><a href="https://drive.google.com/drive/folders/1gmuz6909j_aXigFQ7CpZxq6aLQ6d5z2e?usp=sharing" target="_blank">Нормативно-правовые акты</a></p>
                            <p><a href="https://drive.google.com/drive/folders/1oBd42zRh1j2lfFuz2_OeqSkk_0o_4IoA?usp=sharing" target="_blank">Регламент деятельности ЦОПП</a></p>
                        </div>
                    </div>
                    <div class="footer_column">
                            <div class="footer_content" id="partners">
                                <p class="footer_head">О нас</p><hr>
                                <p><a href="https://worldskills.ru/nashi-proektyi/czentr-operezhayushhej-professionalnoj-podgotovki.html" target="_blank">О проекте</a></p>
                                <p>Наши партнёры:</p>
                                <a href="https://worldskills.ru/" target="_blank"><img src="{% static 'main/img/worldskills.jpg' %}" alt="worldskills_logo"></a>
                                <a href="http://mon.alania.gov.ru/" target="_blank"><img src="{% static 'main/img/minobr.jpg' %}" alt=minobr_logo></a>
                                <a href="https://edu.gov.ru/" target="_blank"><img src="{% static 'main/img/minpros.jpg' %}" alt="minpros_logo"></a>
                            </div>
                        </div>
                    <div class="footer_column">
                            <div class="footer_content" id="contacts">
                                <p class="footer_head">Контакты</p><hr>
                                <p><a href="tel:+78672511238"><img src="{% static 'main/img/telephone.png' %}" alt="telephone">+7 (8672) 51-12-38</a></p>
                                <div><address><img src="{% static 'main/img/address.png' %}" alt="address">г. Владикавказ, ул. Галковского, дом 221</address></div>
                                <p><a href="mailto:'tsopp15@gmail.com'"><img src="{% static 'main/img/post.png' %}" alt="mail">copp15@mail.ru</a></p>
                                <p>Мы в соцсетях:</p>
                                <a class="social-nets" href="https://www.instagram.com/copp__rso/" target="_blank"><img src="{% static 'main/img/instagram.png' %}" alt="instagram"></a>
                                <a class="social-nets" href="https://www.facebook.com/copp.15" target="_blank"><img src="{% static 'main/img/facebook.png' %}" alt="facebook"></a>
                                <a class="social-nets" href="https://twitter.com/copp_spb" target="_blank"><img src="{% static 'main/img/twitter.png' %}" alt="twitter"></a>
                                <a class="social-nets" href="https://wa.me/+78672511238" target="_blank"><img src="{% static 'main/img/whatsapp.png' %}" alt="whatsapp"></a>
                            </div>
                        </div>
                </div>
            </div>





</body>
</html>