body{
  margin: 0;
  padding: 0;
}
.description_form {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: fadeIn;    
    color: #00334E;
    
  }

  
  
  .description_form p{
    font-family: 'Raleway';
    margin: 0;
    margin-top: 15px;
    
  }

.description_form h2{
  text-align: center;
  font-family: 'Raleway';
  font-size: 30px;
  font-weight: normal;
  margin: 0;
  padding: 10px;
  
}
  
  .popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(17, 17, 17, 0.5);
    transition: all 0.5s ease;
    z-index: 20;
  }

    .popup1 {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(17, 17, 17, 0.5);
    transition: all 0.5s ease;
    z-index: 20;
  }

  .popup__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    max-width: 1200px;
    width: 100%;
    max-height: 800px;
    height: 100%;
    padding: 0;
    background-color: #f6f6f5;
  }
  
  .popup__wrapper {
    padding-right: 40px;
    text-align: justify;
    border-radius: 10px;
    
  }


.description_form .image img{
/*   -webkit-box-shadow: 0px 5px 31px 3px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 5px 31px 3px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 5px 31px 3px rgba(34, 60, 80, 0.2); */
/*   -webkit-box-shadow: -9px 1px 5px -4px rgba(34, 60, 80, 0.76) inset;
  -moz-box-shadow: -9px 1px 5px -4px rgba(34, 60, 80, 0.76) inset;
  box-shadow: -9px 1px 5px -4px rgba(34, 60, 80, 0.76) inset; */
  float: left;
  margin: 0;
  height: 800px;
  width: 50%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  object-fit: cover;
  position: fixed;
}

.description span{
  font-size: 18px;
  font-weight: bold;
}

.description_form .description{
  padding-top: 30px;
  float: right;
  width: 47%;
  font: 1em/1.5 'Open Sans', Arial, Sans-serif;
}

.pop_up_sign_up {
  width: 140px;
  height: 40px;
  color: #00334E;
  background-color: #FFC208;
  border-style: none;
  font-family: 'Raleway' sans-serif;
  font-size: 18px;
  position: absolute;
  bottom: 10px;
  /* left: 50%; */
  right: 20px;
  cursor: pointer;
  margin: 20px;
  z-index: 31;
}

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  